<!DOCTYPE html>
<html>
  <head>
    <title>datoji</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="author" content="Davide Santangelo">
    <meta name="description" content="datoji - create, read, update, delete and search JSON data.">
    <meta name="keywords" content="json api">
    
  </head>

  <body class="font-sans antialiased text-gray-900 bg-gray-900 ">
    <%= yield %>
  </body>
</html>